@media (max-width: 900px) {
    .landingpage{
        height: auto;
        margin-top: 22px;
        justify-content: center;    
        flex-wrap: wrap-reverse;    
    }
    .landingpagetext{
        width: 100vw;
        gap: 30px;
    }
    .hero-title h3{
        font-size:30px;
    line-height:36px;
    }
    .typewrittertext{
        margin-bottom: 2px;
    }
    .typewrittertext h3, .hero-para p, .resumebutton Button{
        font-size:18px;
        line-height:28px;
    }

    .landingimg, .landingimage{
        width: 90vw;
        height: auto;
    }
  }
  