.hero-background {
  position: relative;
  overflow: hidden;
}
Button{
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;;
}
@media (max-width: 768px) {
  .hero-title{
    font-size: 14px;
  }
  .typewrittertext{
    font-size: 18px;
  }
  p{
    font-size: 12px;
  }
  Button{
    font-size: 12px;
  }
}