@media (max-width: 710px) {
    .fullscreennav {
      flex-direction: column;
      height: 100vh;
      width: 100vw;
    }
  
    .socialnav {
      flex-direction: column;
      height: 40vh;
      width: 100vw;
    }
  
    .socialnavgrp {
      height: 25%;
      width: 100%;
    }
  
    .socialnavgrplink {
      flex-direction: row;
      transform: rotate(0deg); /* this overrides rotate utility */
    }
  
    .menunav {
      height: 60vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  
    .menunavlink {
      height: 16%;
      width: 100%;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .menunavlink .group {
      justify-content: center;
    }
  }
  