@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #94a3b8;
  background-color: #090d16;
}

::selection {
  background-color: #1e293b;
  color: #818cf8;
}


@media (max-width: 640px) {
  .heading{
    font-size: 38px;
  }
  .logo{
    font-size: 18px;
  }
  .footer{
    font-size: 18px;
  }
  .mobilenav{
    font-size: 28px;
  }
}

.tilt-hover:hover {
  transform: rotateX(20deg) rotateY(20deg) scale(1.05);
  box-shadow: 0 20px 30px rgba(99, 102, 241, 0.3);
}

